body {
    margin: 0;
    background: #A8C9F0;
    font-family: "Trebuchet MS", serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background: #2277E0;
    width: 100%;
    height: 60px;
    display: flex;
    margin: 0;
    color: whitesmoke;
    box-sizing: border-box;
    border: 1.4px solid whitesmoke;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo {
    box-sizing: border-box;
    position: relative;
    /*background: whitesmoke;*/
    background: #2277E0;
    width: 60px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 5px;
}
.logo img {
    width: 50px;
    height: 50px;
}

.name {
    padding: 0 15px;
    box-sizing: border-box;
    width: 250px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    position: relative;
}
li {
    margin-left: -13px
}
.location {
    width: 160px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    display: flex;
    position: relative;
}

.cities-list {
    position: absolute;
    bottom: -140px;
    left: 0;
    height: 140px;
    width: 100%;
    background: #164F94;
    display: none;
    z-index: 2;
}

.location:hover .cities-list, .cities-list:hover{
    display: block;
}

.categories {
    display: flex;
    width: 59.6%;
    font-size: 24px;
    position: relative;
}

.category {
    width: 33.33%;
    padding: 0 16.2%;
    box-sizing: border-box;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

.login {
    width: 15%;
    box-sizing: border-box;
    border-left: 1.4px solid whitesmoke;
    border-right: 1.4px solid whitesmoke;
}

main {
    background: #A8C9F0;
    width: 100%;
    height: auto;
    margin: 60px 0 0;
    display: flex;
    z-index: 1;
}

.main-content {
    width: 80%;
    height: auto;
    padding: 25px;
    box-sizing: border-box;
}

.aside-content {
    width: 20%;
    height: auto;
    padding: 25px;
    box-sizing: border-box;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cards {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 33% 33% 33%;
}

.card {
    /*width: calc(30% - 15px);*/
    height: 350px;
    margin: 15px;
    background: #2277E0;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8%;
    color: whitesmoke;
    text-align: center;
    filter: drop-shadow(1rem 1rem 10px #164F94);
}

.card img {
    text-align: center;
    width: 100%;
    height: 230px;
    background-size: cover;
    object-fit: cover;
    border-radius: 8%;
}

.aside-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8%;
}

.aside-content section {
    height: auto;
}

.aside-card {
    width: 100%;
    height: 200px;
    margin: 15px 0;
    background: #2277E0;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8%;
    filter: drop-shadow(1rem 1rem 10px #164F94);
}

.aside-card img {
    text-align: center;
    width: 100%;
    height: 100px;
    background-size: cover;
    object-fit: cover;
    border-radius: 8%;
}

.culture-list {
    position: absolute;
    top: 58.5px;
    left: 0;
    height: 140px;
    width: 33.33%;
    background: #164F94;
    display: none;
    z-index: 2;
}

.entertainment-list {
    position: absolute;
    top: 58.5px;
    left: 33.33%;
    height: 170px;
    width: 33.33%;
    background: #164F94;
    display: none;
    z-index: 2;
}

.display-list:hover .culture-list, .culture-list:hover{
    display: block;
}

.display-list:hover .entertainment-list, .entertainment-list:hover{
    display: block;
}

footer {
    background: #164F94;
    color: whitesmoke;
    width: 100%;
    height: auto;
}

.footer-right {
    text-align: right;
}

pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
}

code {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

q {
    cursor: pointer;
}

a {
    color:whitesmoke;
}

@media screen and (max-width: 1100px) {
    main {
        margin-top: 120px;
    }
    .location {
        margin-left: auto;
    }
    .login {
        width: 200px;
    }

    .categories {
        position: absolute;
        top: 59px;
        left: -1px;
        background: #2277E0;
        width: calc(100% + 2px);
        height: 60px;
        display: flex;
        margin: 0;
        color: whitesmoke;
        /*padding: 0 100px;*/
        box-sizing: border-box;
        border: 1.4px solid whitesmoke;
    }
}

@media screen and (max-width: 925px) {
    .main-content {
        width: 70%;
        padding: 0;
    }
    .main-content h2 {
        margin-left: 15px
    }
    .aside-content{
        width: 30%;
        padding: 0 10px;
    }
    .aside-content section h2 {
        margin-bottom: 25px;
    }
    .aside-cards{
        gap: 20px;
    }
    .aside-card {
        height: 250px;
        padding: 15px;
        margin: 0
    }
    .aside-card img {
        height: 150px;
    }
    .cards {
        grid-template-columns: 50% 50%;
    }
    .card {
        padding: 15px;
    }
}

@media screen and (max-width: 690px) {
    .name h1{
        font-size: 28px;
    }
    .login {
        width: 180px;
    }
    .location, .login {
        font-size: 14px;
    }
    .cards {
        grid-template-columns: 100%;
    }
    .card {
        height: 320px;
    }
    .main-content, .aside-content {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {
    main {
        margin-top: 174px;
    }
    .name, .logo {
        border: none;
    }
    .name {
        padding: 0;
        width: auto;
    }
    .categories {
        top: 118px
    }
    .location {
        position: absolute;
        top: 58px;
        left: -1px;
        background: #2277E0;
        width: 50%;
        height: 60px;
        display: flex;
        margin: 0;
        color: whitesmoke;
        box-sizing: border-box;
        border: 1.4px solid whitesmoke;
        font-size: 16px;
    }
    .login {
        position: absolute;
        top: 58px;
        left: calc(50% - 1px);
        background: #2277E0;
        width: calc(50% + 2px);
        height: 60px;
        display: flex;
        margin: 0;
        color: whitesmoke;
        box-sizing: border-box;
        border: 1.4px solid whitesmoke;
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    .category {
        font-size: 20px;
    }
    .card {
        height: 240px;
        font-size: 14px;
    }
    .card img {
        height: 130px;
    }
    .aside-content{
        font-size: 14px;
    }
}

.active {
    text-decoration: underline whitesmoke;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 450px) {
    .category {
        font-size: 16px;
    }

}